<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-network-check" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>network-check</name>
    <js-module name="networkCheck" src="www/network-check.js">
        <clobbers target="window.networkCheck" />
    </js-module>

     <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NetworkCheck">
                <param name="android-package" value="com.networkcheck.NetworkCheck"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/NetworkCheck.java" target-dir="com/networkcheck/" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkCheck">
                <param name="ios-package" value="WLKNetworkCheck" />
            </feature>
        </config-file>

        <header-file src="src/ios/WLKReachability.h" />
        <source-file src="src/ios/WLKReachability.m" />
        <header-file src="src/ios/WLKNetworkCheck.h" />
	    <source-file src="src/ios/WLKNetworkCheck.m" />
    </platform>
</plugin>
